<div class="container">
    <div class="row all">
        <h2 style="margin-bottom: 30px;">All teams</h2>
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let division of divisions">
            <div class="divisions">
                <h3 class="divHeader">{{ division.name }}</h3>
                <div class="row team" *ngFor="let team of division.teams">
                    <div class="col-1 img">
                        <img src="{{ team.logo }}">
                    </div>
                    <div class="col-11 description">
                        <div class="name">
                            <h4>{{ team.fullName }}</h4>
                        </div>
                        <div class="links">
                            <a href="#" [routerLink]="['/teams/team-profile', team.teamId]">Profile</a>
                            <a href="#" [routerLink]="['/teams/team-stats', team.teamId]">Stats</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>