$border: #eeeeee;

@mixin width {
    width: 98%;
    margin-left: 1%;
    border-bottom: 1px solid $border;
}
@mixin header {
    font-weight: 700;
    font-size: 1em;
}
@mixin flex {
    display: flex;
    align-items: center;
}

h2 {
    @include width;
    @include header;
    padding: 15px 0 15px 15px;
}

.container {
    padding: 10vw 0 10vw 0;
    font-family: 'Source Sans Pro', sans-serif;
    .all {
        box-shadow: 0px 0px 15px -8px #757575;
        background: #ffffff;
        border-radius: 5px;
        .divisions {
            @include width;
            border: none;
            padding: 30px 0 0 0;
            .divHeader {
                text-transform: uppercase;
                @include header;
                padding-left: 10px;
            }
            .team {
                @include width;
                @include flex;
                height: 60px;
                img {
                    width: auto;
                    max-width: 40px;
                    height: auto;
                    max-height: 35px;
                }
                .description {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 30px;
                    .name {
                        width: 100%;
                        margin-top: 5px;
                        h4 {
                            font-size: 1.1em;
                            font-weight: 600;
                        }
                    }
                    .links {
                        width: 100%;
                        margin-top: -7px;
                        a {
                            padding-right: 2%;
                            font-size: 0.9em;
                            font-weight: 500;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .container {
        overflow: hidden;
    }
}