<nav>
    <div class="navContent" [ngClass]="{ 'active' : toggler }">
        <div class="hamburger" (click)="toggler = !toggler">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo">
            <img src="assets/nba-logo.png" alt="Nba logo" >
        </div>
        <div class="navitems">
            <div class="navitem" *ngFor="let element of list">
                <a href="#" routerLink="/{{ element }}" (click)="toggler = !toggler">{{ element |titlecase }}</a>
            </div>
        </div>
        <div class="bg"></div>
    </div>
</nav>
