<nav>
    <div class="navContent" [ngClass]="{ 'active' : toggler }">
        <div class="hamburger" (click)="toggler = !toggler">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo">
            <img src="assets/nba-logo.png" alt="Nba logo" >
        </div>
        <div class="navitems">
            <div class="navitem">
                <a href="#" routerLink="/home" (click)="toggler = !toggler">Home</a>
            </div>
            <div class="navitem">
                <a href="#" routerLink="/teams" (click)="toggler = !toggler">Teams</a>
            </div>
            <div class="navitem">
                <a href="#" routerLink="/players" (click)="toggler = !toggler">Players</a>
            </div>
        </div>
        <div class="bg"></div>
    </div>
</nav>
