<div class="background">
    <div class="bg" [ngStyle]="{'background-image': 'url(' + team.logo + ')'}"></div> 
    <div class="container" style="height: 100%;">
        <div class="row description" style="height: 100%;">
            <div class="col-sm-12 col-md-3 col-lg-2 logo">
                <img src="{{ team.logo }}">
            </div>
            <ng-container *ngIf="!standing">
                <div class="col-sm-12 col-md-9 col-lg-10 loading">
                    <h1>Loading <i class="bi bi-hourglass-split"></i></h1>
                </div>
            </ng-container>
            <ng-container *ngIf="standing">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="row name">
                        <div class="col-12">
                            <h1>{{ team.fullName }}</h1>
                        </div>
                        <div class="col-12">
                            <div class="bilans">
                                <span>{{ standing.win }} - {{ standing.loss }}</span>
                                <span>|</span>
                                <span>{{ standing.conference.rank }}{{ standing.conference.rank | numeral }} in {{ team.leagues.standard.confName }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <div class="col-12 button">
                        <button><i class="bi bi-star"></i> FAVORITE</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4">
                    <div class="rank">
                        <div class="row">
                            <div class="col-6 conf">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>conf</h4>
                                    </div>
                                    <div class="col-12">
                                        <h3>{{ standing.conference.rank }}{{ standing.conference.rank | numeral }}</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 div">
                                <div class="row">
                                    <div class="col-12">
                                        <h4>div</h4>
                                    </div>
                                    <div class="col-12">
                                        <h3>{{ standing.division.rank }}{{ standing.division.rank | numeral }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="nav">
    <div class="list">
        <a href="#" [routerLink]="['/teams/team-profile', team.teamId]" routerLinkActive="active">Profile</a>
        <a href="#" [routerLink]="['/teams/team-stats', team.teamId]" routerLinkActive="active">Stats</a>
    </div>
</div>