$dark: #131313;
@mixin flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
h1 {
    font-weight: 600;
    font-size: 2em;
    letter-spacing: -2px;
}
.background {
    font-family: 'Source Sans Pro', sans-serif;
    height: 330px;
    width: 100%;
    position: relative;
    background: $dark;
    color: #ffffff;
    .bg {
        position: absolute;
        z-index: 0;
        overflow: hidden;
        width: 80%;
        margin-left: 10%;
        height: 330px;
        background-position: left center;
        background-repeat: no-repeat;
        opacity: 0.06;
    }
    .description {
        @include flex;
        height: 100%;
        position: relative;
        .logo {
            text-align: center;
            img {
                width: 110px;
                height: auto;
            }
        }
        .loading {
            color: #fafafa;
            text-align: center;
            font-size: 0.8em;
            animation: 2.5s loading infinite linear;
        }
        .name {
            .bilans {
                span {
                    padding: 4px;
                }
            }
        }
        .button button {
            background: none;
            cursor: pointer;
            border-radius: 30px;
            color: #ffffff;
            border: 1px solid #ffffff;
            font-size: 0.9em;
            padding: 3px 40px 3px 40px;
            i { padding-right: 5px; }
        }
        .rank {
            @include flex;
            justify-content: center;
            text-align: center;
            h4 { 
                text-transform: uppercase;
                font-size: 0.95em;
                font-weight: 500;
            }
            h3 {
                font-weight: 800;
            }
            .conf {
                border-right: 1px solid rgba(255, 255, 255, .4);
            }
        }
    }
}
.nav {
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 1px 15px -8px #757575;
    @include flex;
    .list {
        @include flex;
        height: 100%;
        padding-left: 30px;
        a {
            text-decoration: none;
            cursor: pointer;
            color: $dark;
            margin-left: 30px;
            padding: 10px 10px 10px 10px;
            height: 100%;
            font-size: 0.95em;
            font-weight: 400;
        }
        .active, a:hover {
            font-weight: 700;
            border-bottom: 5px solid $dark;
            transform: 1s;
        }
    }
}

@media only screen and (min-width: 992px) {
    .background .bg {
        background-size: 40%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
    .background .bg {
        background-size: 60%;
    }
}
@media only screen and (max-width: 576px) {
    .background {
        overflow: hidden;
        .bg {
        background-size: 100%;
        }
    }
}
@media only screen and (max-width: 768px) {
    .background {
        text-align: center;
    }
}

@keyframes loading {
    0% { opacity: 0 }
    50% { opacity: 0.25; transform: scale(1.05); }
    100% { opacity: 0 }
}