$dark: #131313;
$darker-grey: #696969;

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
h1 {
    font-weight: 600;
    font-size: 1.7em;
}
.background {
    font-family: 'Source Sans Pro', sans-serif;
    height: auto;
    width: 100%;
    position: relative;
    color: #ffffff;
    font-size: clamp(1.1em, 1.3vw, 1.3em);
    .bg {
        position: absolute;
        z-index: 0;
        overflow: hidden;
        width: 80%;
        margin-left: 10%;
        background-position: left center;
        background-repeat: no-repeat;
        opacity: 0.06;
    }
    .description {
        @include flex;
        height: 100%;
        position: relative;
        .logo {
            text-align: center;
            img {
                width: 15vh;
                height: auto;
            }
        }
        .loading {
            color: #fafafa;
            text-align: center;
            font-size: 1em;
            animation: 2.5s loading infinite linear;
        }
        .name {
            .bilans {
                span {
                    padding: 4px;
                }
            }
        }
        .button button {
            background: none;
            cursor: pointer;
            border-radius: 30px;
            color: #ffffff;
            border: 1px solid #ffffff;
            font-size: 0.9em;
            padding: 6px 40px 6px 40px;
            i { padding-right: 5px; }
        }
        .rank {
            @include flex;
            justify-content: center;
            text-align: center;
            padding: 5px;
            h4 { 
                text-transform: uppercase;
                font-size: 0.9em;
                font-weight: 300;
            }
            h3 {
                font-weight: 800;
                font-size: 1.4em;
            }
            .conf {
                border-right: 1px solid rgba(255, 255, 255, .4);
            }
            .conf, .div { padding-top: 5px; }
        }
    }
}
.nav {
    height: 45px;
    background: #ffffff;
    box-shadow: 0px 1px 15px -8px #757575;
    @include flex;
    .list {
        @include flex;
        height: 100%;
        padding-left: 30px;
        a {
            text-decoration: none;
            cursor: pointer;
            color: $darker-grey;
            margin-left: 30px;
            padding: 10px 10px 10px 10px;
            height: 100%;
            font-size: 1.1em;
            font-weight: 700;
        }
        .active, a:hover {
            color: $dark;
            border-bottom: 5px solid $dark;
            transform: 1s;
        }
    }
}

@media only screen and (min-width: 992px) {
    .background {
        height: 35vh;
        .bg {
            height: 35vh;
            background-size: 40%;
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 991px) {
    .background {
        height: 390px;
        .bg {
            background-size: 60%;
            height: 390px;
        }
    }
}
@media only screen and (max-width: 576px) {
    .background {
        overflow: hidden;
        height: 390px;
        .bg {
        background-size: 100%;
        height: 390px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .background {
        text-align: center;
        .container {
            .description {
                .rank {
                    font-size: 1em;
                    .conf, .div {
                        h3 {
                            font-size: 1.4em;
                        }
                    }
                }
            }
        }
    }
}

@keyframes loading {
    0% { opacity: 0 }
    50% { opacity: 0.25; transform: scale(1.05); }
    100% { opacity: 0 }
}