<div class="background">
    <ng-container>
        <div class="bg" [ngStyle]="{'background-image': 'url(' + team.logo + ')'}"></div> 
    </ng-container>
    <div class="container" style="height: 100%;">
        <div class="row description" style="height: 100%;">
            <div class="col-sm-12 col-md-3 col-lg-2 logo">
                <img src="{{ team.logo }}">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="row name">
                    <div class="col-12">
                        <h1>{{ team.fullName }}</h1>
                    </div>
                    <div class="col-12 button">
                        <button><i class="bi bi-star"></i> FAVORITE</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-4">
                <div class="rank">
                    <h1>10th in East</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav">
    <div class="list">
        <a href="#" [routerLink]="['/teams/team-profile', 1]">Profile</a>
        <a href="#" [routerLink]="['/teams/team-stats', 1]">Stats</a>
    </div>
</div>