<app-partial [team]="team"></app-partial>

<div class="container">
    <div class="roster">
        <div class="info">
            <h3>Roster</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>player</th>
                    <th>#</th>
                    <th>pos</th>
                    <th>height(m)</th>
                    <th>weight(kg)</th>
                    <th>birthdate</th>
                    <th>college</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{ player.firstName }} {{ player.lastName }}</td>
                    <td>{{ player.leagues.standard.jersey }}</td>
                    <td>{{ player.leagues.standard.pos }}</td>
                    <td>{{ player.heightInMeters }}</td>
                    <td>{{ player.weightInKilograms }}</td>
                    <td>{{ player.dateOfBirth }}</td>
                    <td>{{ player.collegeName }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!players" class="waiter">
            <h4>Loading...</h4>
        </div>
    </div>
    <div class="staff">
        <div class="info">
            <h3>Staff & additional info</h3>
        </div>
        <div class="row infoContent" *ngFor="let STAFF of staff">
            <div class="col-sm-4 col-md-3 col-lg-2 left">
                <h6>{{ STAFF.name }}</h6>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10 right">
                <div class="rightSide">
                    <h6 *ngFor="let element of STAFF.list">{{ element }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
