<app-partial [team]="team"></app-partial>

<div class="container">
    <div class="content">
        <div class="info">
            <h3>Roster</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>player</th>
                    <th>#</th>
                    <th>pos</th>
                    <th>height(m)</th>
                    <th>weight(kg)</th>
                    <th>birthdate</th>
                    <th>college</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{ player.firstName }} {{ player.lastName }}</td>
                    <td>{{ player.leagues.standard.jersey }}</td>
                    <td>{{ player.leagues.standard.pos }}</td>
                    <td>{{ player.heightInMeters }}</td>
                    <td>{{ player.weightInKilograms }}</td>
                    <td>{{ player.dateOfBirth }}</td>
                    <td>{{ player.collegeName }}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!players" class="waiter">
            <h4>Loading...</h4>
        </div>
    </div>
</div>
