<div class="carousel">
    <div class="container">
        <div class="slides">
            <div class="slide">
                <div class="row upperSlide" *ngFor="let element of data" #upperSlide>
                    <div class="col-12 col-md-4 leftSide medium">
                        <div class="header">
                            <h1>{{ element.header }}</h1>
                        </div>
                        <div class="description">
                            <p>{{ element.description }}</p>
                        </div>
                        <div class="buttons">
                            <button>watch</button>
                            <button *ngIf="element.postGame === true">box score</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 image">
                        <div class="gradient">
                            <div class="bg" [ngStyle]="{'background-image': 'url(' + element.img + ')'}"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 leftSide small">
                        <div class="header">
                            <h1>{{ element.header }}</h1>
                        </div>
                        <div class="buttons">
                            <button>watch</button>
                            <button *ngIf="element.postGame === true">box score</button>
                        </div>
                    </div>
                </div>
                <div class="row bottomSlide">
                    <div class="bottom" *ngFor="let element of data; let i = index;" #bottomSlide>
                        <div class="progressBar"></div>
                        <div class="header">
                            <h2><a (click)="stopSlider(i)">{{ element.header }}</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    Lorem ipsum sit 
</div>
