<div class="carousel">
    <div class="slides">
        <div class="slide active">
            <div class="row upperSlide">
                <div class="col-12 col-md-4 medium">
                    <h1>First slide</h1>
                </div>
                <div class="col-12 col-md-8 image">
                    <div class="gradient">
                        <div class="bg"></div>
                    </div>
                </div>
                <div class="col-12 col-md-4 small">
                    <h1>First slide</h1>
                </div>
            </div>
            <div class="row bottomSlide">
                <div class="col-1"></div>
                <div class="col-2">
                    <div class="progressBar"></div>
                    <h2>
                        Slide title
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    Lorem ipsum sit 
</div>
