<div class="carousel">
    <div class="container">
        <div class="slides">
            <div class="slide active">
                <div class="row upperSlide active">
                    <div class="col-12 col-md-4 leftSide medium">
                        <div class="header">
                            <h1>Curry drains 11 3-pointers, scores 49 in Warriors' victory</h1>
                        </div>
                        <div class="description">
                            <p>Steph Curry lights up the Thunder for 49 points in 29 minutes and regains the lead for the scoring title while fans serenade him with chants of “MVP! MVP!”</p>
                        </div>
                        <div class="buttons">
                            <button>watch</button>
                            <button>box score</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 image">
                        <div class="gradient">
                            <div class="bg"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 leftSide small">
                        <div class="header">
                            <h1>Curry drains 11 3-pointers, scores 49 in Warriors' victory</h1>
                        </div>
                        <div class="buttons">
                            <button>watch</button>
                            <button>box score</button>
                        </div>
                    </div>
                </div>
                <div class="row bottomSlide">
                    <div class="bottom active">
                        <div class="progressBar"></div>
                        <div class="header">
                            <h2>{{ data[0].header }}</h2>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="progressBar"></div>
                        <div class="header">
                            <h2>{{ data[0].header }}</h2>
                        </div>
                    </div>
                    <div class="bottom active">
                        <div class="progressBar"></div>
                        <div class="header">
                            <h2>{{ data[0].header }}</h2>
                        </div>
                    </div>
                    <div class="bottom active">
                        <div class="progressBar"></div>
                        <div class="header">
                            <h2>{{ data[0].header }}</h2>
                        </div>
                    </div>
                    <div class="bottom active">
                        <div class="progressBar"></div>
                        <div class="header">
                            <h2>{{ data[0].header }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    Lorem ipsum sit 
</div>
